<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mileEasy.mapper.ManagerDao">

    <select id="selectMileTitle" resultType="com.kbstar.mileEasy.dto.User">
        SELECT
            u.user_name,
            u.user_profile,
            d.dp_name as dp_name,
            m.mile_name as mile_no
        FROM
            user u
                JOIN
            department d ON u.dp_no = d.dp_no
                LEFT JOIN
            mileage m ON u.mile_no = m.mile_no
        WHERE
            u.user_no = #{user_no};
    </select>

    <select id="selectMileDetail" resultType="com.kbstar.mileEasy.dto.MileIntroduce">
        SELECT * FROM mile_introduce WHERE mile_no = #{mile_no};
    </select>

    <insert id="insertMile">
        insert into mile_introduce (mile_no, mile_title, mile_content, mile_route) values (#{mile_no}, #{mile_title}, #{mile_content}, #{mile_route});
    </insert>

    <delete id="deleteMile">
        delete from mile_introduce where mile_introduce_no=#{mile_introduce_no};
    </delete>

</mapper>
