<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mileEasy.mapper.MileageRequestDao">


    <select id="requestList" resultType="com.kbstar.mileEasy.dto.Mileage_request">
        SELECT
            mr.register,
            mr.mileage_request_no,
            mr.request_is_branch,
            mr.request_mile_name,
            mr.request_mil_max,
            mr.request_admin,
            mr.request_etc,
            mr.request,
            mr.user_no,
            mr.mileage_request_date,
            mr.request_status,
            m.mile_no,
            m.mile_name
        FROM
            mileage_request mr
                LEFT JOIN mileage m
                          ON mr.mile_no = m.mile_no
        WHERE
            mr.user_no = #{user_no}
        ORDER BY
            mr.mileage_request_date DESC;

    </select>

    <delete id="requestListDelete" >
        DELETE FROM mileage_request
        WHERE mileage_request_no = #{mileageRequestNo};
    </delete>

    <select id="requestListAdmin" resultType="com.kbstar.mileEasy.dto.Mileage_request">
        SELECT
            mr.register,
            mr.mileage_request_no,
            mr.request_is_branch,
            mr.request_mile_name,
            mr.request_mil_max,
            mr.request_admin,
            mr.request_etc,
            mr.request,
            mr.user_no,
            u.user_name,        -- user_name을 추가
            mr.mileage_request_date,
            mr.request_status,
            m.mile_no,
            m.mile_name
        FROM
            mileage_request mr
                LEFT JOIN mileage m ON mr.mile_no = m.mile_no
                JOIN user u ON mr.user_no = u.user_no  -- user 테이블과 조인
        ORDER BY
            mr.mileage_request_date DESC;


    </select>

    <update id="accept">
        UPDATE mileage_request
        SET request_status = 2
        WHERE mileage_request_no = #{num};
    </update>

    <update id="reject">
        UPDATE mileage_request
        SET request_status = 3
        WHERE mileage_request_no = #{num};
    </update>

    <update id="recive">
        UPDATE mileage_request
        SET request_status = 1
        WHERE mileage_request_no = #{num};
    </update>

    <update id="updateRegister">
        UPDATE mileage_request
        SET register = CASE
                           WHEN register = 0 THEN 1
                           ELSE register + 1
            END
        WHERE mileage_request_no = #{num};
    </update>




</mapper>
