<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mileEasy.mapper.MonthlyKingDao">
    <select id="badgeList" resultType="com.kbstar.mileEasy.dto.MonthlyKing">
        SELECT *
        FROM monthly_king
        WHERE monthly_king_date = (
            SELECT MAX(monthly_king_date)
            FROM monthly_king
        );

    </select>

</mapper>