<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mileEasy.mapper.MtipDao">
    <select id="complain" >
        UPDATE mtip_board
        SET mtip_complain = TRUE
        WHERE mtip_board_no = #{noticeId};
    </select>

    <select id="complainBack" >
        UPDATE mtip_board
        SET mtip_complain = FALSE
        WHERE mtip_board_no = #{noticeId};
    </select>

    <select id="MtiplistComplain" resultType="com.kbstar.mileEasy.dto.MtipBoard">
        SELECT mb.mtip_board_no,
               mb.user_no,
               mb.user_name,
               mb.mtip_board_title,
               mb.mtip_board_content,
               mb.mtip_board_file,
               mb.mtip_board_date,
               mb.mtip_board_like,
               mb.mtip_board_hit,
               mb.mtip_board_is_delete,
               mb.mtip_complain,
               m.mile_name
        FROM mtip_board mb
                 LEFT JOIN mileage m ON mb.mile_no = m.mile_no
        WHERE mb.mtip_board_is_delete = 0
          AND mb.mtip_complain = 1
    </select>





</mapper>
