<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mileEasy.mapper.Target">

    <insert id="insertTarget" useGeneratedKeys="true" keyProperty="targetNo">
        INSERT INTO target (mile_no, user_no, start_date, end_date, target_mileage, is_together, is_manager_plan)
        VALUES (#{mileNo}, #{userNo}, #{startDate}, #{endDate}, #{targetMileage}, #{isTogether}, #{isManagerPlan})
    </insert>

    <insert id="insertUserTarget">
        INSERT INTO user_target (user_no, target_no, mile_no, start_date, end_date, target_mileage, is_together)
        VALUES (#{userNo}, #{targetNo}, #{mileNo}, #{startDate}, #{endDate}, #{targetMileage}, #{isTogether})
    </insert>



</mapper>
